@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2")
        format("woff2"),
       url("../fonts/opensans.woff")
        format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2")
        format("woff2"),
       url("../fonts/opensanslight.woff")
        format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2")
        format("woff2"),
       url("../fonts/gilroyextrabold.woff")
        format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2")
        format("woff2"),
       url("../fonts/gilroylight.woff")
        format("woff");
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;

  border: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;

  overflow: hidden;
}

.modal__map iframe {
  border: 0;
  /*height: 593px;*/
  /*width: 994px;*/
}
