@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2")
        format("woff2"),
       url("../fonts/opensans.woff")
        format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2")
        format("woff2"),
       url("../fonts/opensanslight.woff")
        format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2")
        format("woff2"),
       url("../fonts/gilroyextrabold.woff")
        format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2")
        format("woff2"),
       url("../fonts/gilroylight.woff")
        format("woff");
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;

  border: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;

  overflow: hidden;
}

body {
  min-width: 1200px;

  background-color: #ffffff;
  color: #464646;
  font-family: "Open Sans", "Verdana", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.btn {
  display: block;
  position: relative;
  z-index: 1;
  text-align: center;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;

  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.8px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover,
.btn:focus {
  background-color: #f0c52e;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 50%;
  z-index: -1;

  height: 4px;
  width: 100%;

  background-color: #f0c52e;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;

  height: 4px;
  width: 100%;

  background-color: #f0c52e;
}

:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  outline: none;
}

/*  --------------  HEADER  ----------------  */

.main-header {
  color: #000000;
}

.main-header a {
  text-decoration: none;

  color: #000000;
}

.main-header .navigation {
  display: flex;
  flex-direction: column;
  position: relative;

  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 31px 60px 31px;
  width: 1160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-header .navigation {
  padding-bottom: 47px;
}

.catalog-header .navigation {
  margin-bottom: 37px;
}

.main-header .navigation__logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.navigation__logo {
  display: block;

  height: 35px;
  width: 163px;
}

.navigation__logo:hover,
.navigation__logo:focus {
  opacity: 0.6;
}

.navigation__logo:active {
  opacity: 0.3;
}

.navigation__top {
  display: flex;
  justify-content: flex-start;

  margin-bottom: 25px;
}

.search {
  display: flex;
  align-items: flex-start;
  position: relative;

  /*margin-right: auto;*/
  width: 440px;
}


.search input {
  height: 53px;
  padding-left: 40px;
  width: 100%;

  background: url("../img/search.svg") no-repeat 3px 20px;
  border: 0;
  border-bottom: 2px solid transparent;

  font: inherit;
}

.search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search:hover input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:hover input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:hover input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__btn {
  margin-left: auto;
  padding: 16px 20px;

  background-color: transparent;
  border: 2px solid #000000;
  opacity: 0;
  pointer-events: none;
}

.search input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.search input:focus ~ .search__btn {
  opacity: 1;
  pointer-events: auto;
}

.search:focus-within .search__btn {
  opacity: 1;
  pointer-events: auto;
}

.search__btn:hover,
.search__btn:focus {
  background-color: #000000;
  color: #ffffff;
}

.search__btn:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation,
.menu__list,
.submenu__items {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-header .user-navigation {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin-left: auto;
  margin-top: 12px;
  max-width: 500px;
}

.user-navigation__item {
  margin-left: 41px;
}

.user-navigation__item--login {
  margin-right: auto;
  margin-left: 0;
}

.user-navigation__item--login .user-navigation__link {
  padding-left: 26px;
}

.catalog--header .user-navigation__link--login {

}

.catalog-header .user-navigation__link--login,
.catalog-footer .user-navigation__link--login {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 178px;
}

.user-navigation__item--compare .user-navigation__link {
  padding-left: 21px;
}

.user-navigation__item--basket .user-navigation__link {
  padding-left: 24px;
}

.user-navigation__link {
  display: block;
  position: relative;
}

.catalog-header .user-navigation__link--login::before,
.catalog-footer .user-navigation__link--login::before {
  content: 'Валентин Петухов';
  position: absolute;
  left: 27px;

  color: #000000;
}

.user-navigation svg {
  position: absolute;
  left: 0;
  top: 9px;
}

.user-navigation__link--compare svg {
  top: 11px;
}

.user-navigation__link:hover,
.user-navigation__link:focus{
  opacity: 0.6;
}

.user-navigation__link:active {
  opacity: 0.3;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.menu__item {
  margin-right: 35px;
}

.menu__item:first-child,
.menu__item:nth-child(4n + 1) {
  margin-right: 291px;
  min-width: 242px;
}

.menu__item:nth-child(4n) {
  margin-right: 0;
  margin-left: auto;
}

.submenu {
  display: flex;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: -60px;
  z-index: 2;

  box-sizing: border-box;
  padding: 25px 60px 27px 60px;
  width: 1160px;

  background-color: #f7e296;
}

.submenu a {
  display: block;

  line-height: 36px;
}

.submenu a:hover,
.submenu a:focus {
  opacity: 0.6;
}

.submenu a:active {
  opacity: 0.3;
}

.menu__item:hover .submenu,
.menu__link:hover + .submenu,
.menu__link:focus + .submenu {
  opacity: 1;
  pointer-events: auto;
}

.menu__item:focus-within .submenu {
  opacity: 1;
  pointer-events: auto;
}


.submenu__items {
  margin-right: 55px;
}

.menu__link {
  position: relative;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.5px;
  line-height: 24px;
  text-transform: uppercase;
}

.menu__link--catalog {
  position: relative;

  padding-right: 32px;
}

.menu__link--catalog::after {
  content: '';
  position: absolute;
  right: 3px;
  top: 3px;

  height: 16px;
  width: 16px;

  background: url("../img/plus.png");
  opacity: 0.3;
}

.menu__link:hover,
.menu__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.menu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*  -----------  MAIN  -------------- */

/*  -----------  INDEX  ---------------*/

.slider {
  position: relative;

  margin: 0 auto 114px;
  padding: 0 20px;
  width: 1160px;
}

.slider::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;

  height: 129px;
  width: 1160px;

  background-color: #f7e296;
}

.slider__list {
  position: relative;

  list-style-type: none;
  margin: 0;
  padding: 0;

  min-height: 400px;

  counter-reset: li;
}

.slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  counter-increment: li;
}


.slider-card__image {
  width: 600px;
}

.slider-card__image img {
  display: block;
  margin: 0 auto;
}

.slider-card__wrapper {
  position: relative;

  width: 560px;
}

.slider-card__wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 55px;

  height: 7px;
  width: 100px;

  background-color: #fff;
}

.slider-card__wrapper::after {
  content: '0' counter(li);
  position: absolute;
  right: 48px;
  top: 4px;

  color: #ffffff;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
}

.slider-card__header {
  position: relative;
  z-index: 1;

  margin: 97px 0 20px 0;

  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  letter-spacing: 0.5px;
  line-height: 56px;
}

.slider-card__specification {
  margin: 0 0 44px 0;
  width: 485px;

  letter-spacing: 0.2px;
}

.slider-card__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-card__btn {
  margin-bottom: 48px;
  padding: 7px 10px;
  width: 220px;
}

.characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.characteristics__item {
  margin-right: 80px;
}

.characteristics__item dl,
.characteristics__item dd {
  margin: 0;
}

.characteristics__item dt {
  margin-bottom: 6px;

  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 36px;
  line-height: 48px;
}

.characteristics__item dd {
  font-size: 13px;
  line-height: 20px;
}

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  right: 103px;
  bottom: 138px;

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 144px;
}

.slider__controls li {
  margin-left: 21px;
  margin-top: 10px;
}

.slider__controls li:first-child,
.slider__controls li:nth-child(5n + 1){
  margin-left: 0;
}

.slider__btn {
  display: block;
  position: relative;

  border: 1px solid #000000;
  border-radius: 50%;
  height: 12px;
  padding: 0;
  width: 12px;

  background-color: transparent;
  font-size: 0;
}

.slider__btn--active::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;

  border: 1px solid #000000;
  border-radius: 50%;
  height: 4px;
  width: 4px;

  background-color: transparent;
}

.popular {
  margin: 0 auto 80px;
  padding: 0 20px;
  width: 1160px;

  font-family: "Gilroy", "Verdana", sans-serif;
}

.popular__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popular__item {
  margin-right: 40px;
}

.popular__item:nth-child(6n) {
  margin-right: 0;
}

.popular__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;

  width: 160px;

  color: #000000;
  text-decoration: none;
}

.popular__item h3 {
  margin: 0;

  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.popular__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  height: 160px;
  margin-bottom: 34px;
  width: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.popular__link:hover .popular__img,
.popular__link:focus .popular__img,
.popular__link:active .popular__img {
  background-color: #f0c52e;
}

.popular__link:active img,
.popular__link:active h3 {
  opacity: 0.3;
}

.popular__img img {
  display: block;
}

.popular__img--monopods {
  padding-top: 38px;
}

.services {
  min-height: 388px;

  background-image: -webkit-linear-gradient(top, transparent 100px, #e5e5e5 100px);

  background-image: -o-linear-gradient(top, transparent 100px, #e5e5e5 100px);

  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  margin: 0 auto 94px;
  padding: 0 20px;
  width: 1160px;
}

.services ul {
  position: relative;

  list-style-type: none;
}

.services__controls {
  margin: 0 124px 0 0;
  min-height: 239px;
  padding: 80px 0 0 0;
  width: 277px;
}

.services__controls::after {
  content: '';
  position: absolute;
  right: -7px;
  top: 0;

  height: 100%;
  width: 7px;

  background-color: #000000;
}

.services__controls li {
  margin-bottom: 24px;
}

.services__btn {
  border: 0;
  padding: 8px 20px;
  width: 160px;

  background-color: transparent;
}

.services__btn--active {
  text-align: left;

  padding: 8px 20px;
  width: 100%;

  background-color: #000000;
  color: #f7e184;
}

.services__btn--active:hover,
.services__btn--active:focus,
.services__btn--active:active {
  background-color: #000000;
  color: #f7e184;
}

.services__btn--active::before {
  background-color: transparent;
}

.services__btn--active::after {
  background-color: transparent;
}

.services__description {
  margin: 0;
  padding: 0;
  width: 713px;
}

.services__item {
  position: relative;
}

.services__description .delivery::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 86px;

  height: 164px;
  width: 136px;

  background: url("../img/delivery.svg") no-repeat;
}

.services__description .warranty::after {
  content: '';
  position: absolute;
  right: 0;
  top: 62px;

  height: 194px;
  width: 171px;

  background: url("../img/warranty.svg") no-repeat;
}

.services__description .credit::after {
  content: '';
  position: absolute;
  right: 24px;
  top: 62px;

  height: 186px;
  width: 156px;

  background: url("../img/credit.svg") no-repeat;
}

.services__description h3 {
  margin: 0 0 32px 0;
  padding: 73px 0 0 0;

  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 48px;
}

.services__description p {
  margin: 0 0 15px 0;
  width: 445px;

  letter-spacing: 0.3px;
}

.partners {
  margin: 0 auto 93px;
  padding: 0 20px;
  width: 1160px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.partners__item {
  position: relative;
  margin-right: 40px;
}

.partners__item:nth-child(4n) {
  margin-right: 0;
}

.partners__img {
  display: block;
  position: relative;
  z-index: 1;

  height: 100px;
  width: 260px;
}

.partners__img:hover img,
.partners__img:focus img {
  opacity: 0;
}

.partners__img--dji {
  background: #ffffff url('../img/logo-1-hover.jpg') no-repeat;
}

.partners__img--gadgets {
  background: #ffffff url('../img/logo-2-hover.jpg') no-repeat;
}

.partners__img--go-pro {
  background: #ffffff url('../img/logo-3-hover.jpg') no-repeat;
}

.partners__img--vive {
  background: #ffffff url('../img/logo-4-hover.jpg') no-repeat;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin: 0 auto 81px;
  padding: 0 20px;
  width: 1160px;
}

.info__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;

  width: 560px;
}

.info__column::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  height: 7px;
  width: 80px;

  background-color: #000000;
}

.info__column h3 {
  margin: 52px 0 43px 0;

  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.info__column p {
  margin: 0 0 30px 0;
}

.info__column.delivery p {
  width: 475px;
}

.delivery__list {
  list-style-type: none;
  margin: 0;
  padding: 36px 0 55px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.delivery__list li {
  position: relative;

  padding-left: 35px;
}

.delivery__list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 16px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
  height: 4px;
  width: 4px;
}

.info__btn {
  margin-top: auto;
  padding: 7px 10px;
  width: 260px;
}

.contacts__map {
  display: block;

  height: 222px;
  margin-top: 9px;
  width: 560px;
}

/*   -----------  CATALOG  --------------    */

h1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 25px;
  padding: 0 60px;
  width: 1160px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.6px;
  line-height: 48px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0 auto 45px;
  padding: 0 60px;
  width: 1160px;

  list-style-type: none;

  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item {
  margin-right: 19px;
}

.breadcrumbs__item a {
  display: block;
  position: relative;

  padding-right: 20px;

  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.breadcrumbs__item a::after {
  content: '';
  position: absolute;
  right: 0;
  top: 8px;

  height: 7px;
  width: 4px;

  background: url('../img/nav-arrow.svg');
}

.breadcrumbs__item:last-child a::after {
  background: none;
}

.breadcrumbs__item a[href]:hover,
.breadcrumbs__item a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a[href]:active {
  color: #000000;
}

.catalog-wrapper {
  position: relative;
  z-index: 1;

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 70px, #ffffff 70px);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.08) 70px, #ffffff 70px);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 70px, #ffffff 70px);
}

.catalog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 60px;
  width: 1160px;
}

.catalog-container__left {
  position: relative;
  margin-right: 72px;
}

.catalog-container__left::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -1000px;
  right: 0;
  top: 0;
  z-index: -1;

  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 70px, #eeeeee 70px);

  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.08) 70px, #eeeeee 70px);

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 70px, #eeeeee 70px);
}


.filters {
  padding-right: 68px;
  width: 200px;
}

.filters form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filters__legend {
  display: block;

  margin: 23px 0 92px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.8px;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  border: 0;
  margin: 0 0 31px;
  padding: 10px 0 0 0;

  border-top: 2px solid #000000;
}

.catalog-filter--price {
  margin-bottom: 27px;
}

.catalog-filter--price .catalog-filter__legend {
  margin-bottom: 25px;
}

.catalog-filter__legend {
  border: 0;
  margin: 0 0 18px;
  padding: 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.range {
  position: relative;
  left: 4px;
  top: 10px;

  height: 2px;
  margin-bottom: 20px;
  width: 196px;

  background-color: #dbdbdb;
  font-size: 0;
}

.range__line {
  position: absolute;
  left: 4px;

  width: 56%;
  height: 2px;

  background-color: #91c92f;
}

.range__btn {
  position: absolute;
  top: -10px;

  border: 0;
  border-radius: 50%;
  height: 20px;
  padding: 0;
  width: 20px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 0 #dadada;
  box-shadow: 0 2px 0 #dadada;
}

.range__btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  outline: none;
}

.range__btn--left {
  left: -10px;
}

.range__btn--right {
  left: 53%;
}

.range__btn::before {
  content: '';
  position: absolute;
  left: 8px;
  top: 8px;
  border-radius: 50%;
  height: 4px;
  width: 4px;

  background-color: #ababab;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;

  margin-bottom: 30px;

  color: rgba(0, 0, 0, 0.2);
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.price p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;

  margin: 0;
}

.price__min {
  left: 0;
}

.price__max {
  left: 45%;
}

.price input {
  border: 0;
  padding-left: 5px;
  width: 50px;

  color: rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font: inherit;
}

.catalog-filter__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  color: #000000;
  font-size: 14px;
  line-height: 40px;
}

.catalog-filter__item {
  position: relative;

  padding-left: 40px;
}

.checkbox-filter__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;

  height: 23px;
  width: 23px;

  background: url('../img/checkbox-off.svg') no-repeat;
}

.checkbox-filter__input:checked ~ .checkbox-filter__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;

  height: 23px;
  width: 26px;

  background: url('../img/checkbox-on.svg') no-repeat;
}

.radio-filter__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 7px;

  border: 4px solid #000000;
  border-radius: 50%;
  height: 17px;
  width: 17px;
}

.radio-filter__input:checked ~ .radio-filter__label::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 15px;

  border-radius: 50%;
  height: 9px;
  width: 9px;

  background-color: #000000;
}

.checkbox-filter__input:focus ~ .checkbox-filter__label::before,
.radio-filter__input:focus ~ .radio-filter__label::before {
  -webkit-box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  outline: none;
}

.checkbox-filter__label:hover::before,
.checkbox-filter__input:checked:hover ~ .checkbox-filter__label::before,
.radio-filter__label:hover::before,
.radio-filter__input:checked:hover ~ .radio-filter__label::before,
.radio-filter__input:checked:hover ~ .radio-filter__label::after {
  opacity: 0.6;
}

.checkbox-filter__input:active ~ .checkbox-filter__label::before,
.checkbox-filter__input:checked ~ .checkbox-filter__label::before,
.checkbox-filter__input:checked:active ~ .checkbox-filter__label::before,
.radio-filter__input:active ~ .radio-filter__label::before,
.radio-filter__input:active ~ .radio-filter__label::after,
.radio-filter__input:checked:active ~ .radio-filter__label::before,
.radio-filter__input:checked:active ~ .radio-filter__label::after {
  opacity: 1;
}

.checkbox-filter__input:disabled ~ .checkbox-filter__label,
.radio-filter__input:disabled ~ .radio-filter__label {
  color: #a6a6a6;
}

.checkbox-filter__input:disabled ~ .checkbox-filter__label::before,
.checkbox-filter__input:checked:disabled ~ .checkbox-filter__label::before,
.radio-filter__input:disabled ~ .radio-filter__label::before,
.radio-filter__input:disabled ~ .radio-filter__label::after,
.radio-filter__input:checked:disabled ~ .radio-filter__label::before,
.radio-filter__input:checked:disabled ~ .radio-filter__label::after {
  opacity: 0.25;
}

.filters__btn {
  border: 0;

  background-color: transparent;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 38px;
  padding-top: 15px;
}

.sort__legend {
  margin: 8px 50px 0 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.7px;
  line-height: 24px;
  text-transform: uppercase;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 3px 0 0 0;
  padding: 0;

  list-style-type: none;
}

.sort__list a {
  margin-right: 32px;

  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.sort__list a:hover,
.sort__list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort__list a:active {
  color: #000000;
}

.sort-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0 0 0 auto;
  padding: 0;

  list-style-type: none;

  font-size: 0;
}

.sort-controls__item:first-child {
  margin-right: 19px;
}

.sort-controls__btn {
  border-style: solid;
  height: 0;
  padding: 0;
  width: 0;

  background-color: transparent;
  opacity: 0.2;
}

.sort-controls__btn:hover,
.sort-controls__btn:focus {
  opacity: 0.4;
}

.sort-controls__btn:active {
  opacity: 1;
}

.sort-controls__btn--top {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #231f20 transparent;
}

.sort-controls__btn--bottom {
  border-width: 10px 5.5px 0 5.5px;
  border-color: #231f20 transparent transparent transparent;
  margin-top: 15px;
}

.sort .sort__active {
  color: #000000;
  opacity: 1;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  width: 760px;

  list-style-type: none;
}

.catalog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;

  margin: 46px 40px 0 0;
  width: 360px;
}

.catalog-card:nth-child(even) {
  margin-right: 0;
}

.catalog-card__top {
  position: relative;

  height: 380px;
  margin-bottom: 32px;
}

.catalog-card__header {
  display: block;

  margin: 0;
  width: 260px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.catalog-card__header a {
  display: block;

  color: #000000;
  letter-spacing: 0.1px;
  text-decoration: none;
}

.catalog-card__price {
  margin: 0;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.catalog-card__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  height: 100%;
  width: 100%;
  text-align: center;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-card__btn-basket {
  margin: 179px auto 6px;
  padding-top: 8px;

  width: 200px;
}

.catalog-card__btn-compare {
  margin-top: 0;

  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
}

.catalog-card__btn-compare:hover,
.catalog-card__btn-compare:focus {
  color: #000000;
}

.catalog-card__btn-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-card__top:hover .catalog-card__wrapper,
.catalog-card__top:focus .catalog-card__wrapper {
  z-index: 1;
}

.catalog-card:focus-within .catalog-card__wrapper {
  z-index: 1;
  pointer-events: auto;
}

.catalog-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-card__label {
  position: absolute;
  right: 27px;
  top: 29px;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 56px;
  width: 56px;

  color: rgba(0, 0, 0, 0.2);
  font-size: 0;
}

.catalog-card__label::before {
  content: 'NEW';
  position: absolute;
  left: 13px;
  top: 16px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  margin: 35px 0 77px;
  width: 760px;

  background-color: rgba(0, 0, 0, 0.08);
  color: #000000;
  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
}

.pagination__back,
.pagination__forward {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  padding: 24px 31px;

  letter-spacing: 3.6px;
}

.pagination__back {
  margin-right: 12px;
  width: 126px;
}

.pagination__forward {
  width: 137px;
}

.pagination__back:hover,
.pagination__back:focus,
.pagination__forward:hover,
.pagination__forward:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination__back:active,
.pagination__forward:active {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.pagination a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 0 auto;
  padding: 0;
  width: 240px;

  list-style-type: none;
}

.pagination__item {
  margin: 17px 31px 0 0;
  padding-top: 8px;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pagination__list a[href] {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__list a[href]:hover,
.pagination__list a[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__list a[href]:active {
  color: #000000;
}

/*   ------------  FOOTER  --------------    */

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 20px 65px;
  width: 1200px;
}

.main-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-bottom: 30px;
}

.main-footer__top .navigation__logo {
  margin-top: 5px;
}

.main-footer__top svg {
  display: block;

  fill: #ffc600;
}

.main-footer__top .user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-left: auto;
  width: 600px;
}

.main-footer__top .user-navigation__link {
  display: block;
  position: relative;
}

.main-footer__top .user-navigation__link::before {
  background-image: none;
}

.user-navigation--footer .user-navigation__item--login {
  margin-right: 0;
}

.user-navigation--footer .user-navigation__item--compare {
  margin-left: 43px;
}

.user-navigation--footer .user-navigation__link--basket {
  padding-left: 22px;
}

.user-navigation--footer svg {
  top:12px;
}

.main-footer__top .user-navigation__item:last-child {
  margin-right: 0;
}

.main-footer .user-navigation__link {
  display: block;

  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
}

.catalog-footer .user-navigation__link--login {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-footer .user-navigation__link--login::before {
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-navigation__link:hover,
.main-footer .user-navigation__link:focus {
  color: #ffffff;
  opacity: 1;
}

.main-footer .user-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  margin-bottom: 62px;
}

.main-footer__middle address {
  font-style: normal;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin: 6px 0 0;
  padding: 0;
  width: 560px;

  list-style-type: none;
}

.menu-footer__item {
  margin-right: 36px;
}

.menu-footer a {
  letter-spacing: 3.3px;
}

.main-footer__address {
  margin-right: 165px;
}

.menu-footer a {
  display: block;

  color: #ffffff;
  font-family: "Gilroy", "Verdana", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.menu-footer a:hover,
.menu-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.menu-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer__phone {
  margin-left: auto;
}

.main-footer__phone a {
  color: #ffffff;
  text-decoration: none;
}

.main-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main-footer__bottom::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;

  height: 7px;
  width: 80px;

  background-color: #ffc600;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  list-style-type: none;

  margin: 0 0 0 509px;
  padding: 0;
  width: 260px;
}

.footer-social__list li {
  margin-right: 23px;
  padding: 2px 0 0;
}

.footer-social__list a {
  text-decoration: none;

  color: #ffffff;
}

.footer-social__btn {
  display: block;

  opacity: 0.3;
}

.footer-social__btn:hover,
.footer-social__btn:focus {
  opacity: 0.6;
}

.footer-social__btn:active {
  opacity: 0.1;
}

.footer-social__btn svg {
  display: block;
}

.footer-copyright {
  margin-left: auto;
}

.footer-copyright__html-academy-logo {
  display: block;

  height: 35px;
  width: 27px;
}

.footer-copyright__html-academy-logo:hover,
.footer-copyright__html-academy-logo:focus {
  opacity: 0.6;
}

.footer-copyright__html-academy-logo:active {
  opacity: 0.3;
}

/*   -------   Modals   -----------   */

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

.modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  overflow: auto;
}

.modal {
  position: relative;

  margin: auto;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal--feedback {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 553px;
  padding: 95px 100px 83px;
  width: 960px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  height: 100%;
}

.feedback-form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-bottom: 34px;
  width: 760px;
}

.feedback-form__wrapper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 360px;
}

.feedback-form label {
  margin-bottom: 6px;

  font-family: "Gilroy", "Verdana", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.feedback-form input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  padding: 0 21px;
  width: 100%;

  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.feedback-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  width: 760px;
}

.feedback-form input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 156px;
  padding: 16px 21px;
  width: 100%;
}

.feedback-form input,
.feedback-form textarea {
  border: 0;

  color: #464646;
  background-color: rgba(229, 229, 229, 0.5);
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
}

.feedback-form input:focus:invalid,
.feedback-form textarea:focus:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-form__btn {
  margin-top: auto;

  background-color: transparent;
  border: 0;
  width: 200px;
}

.modal--map {
  height: 593px;
  width: 994px;

  background: #e9e9e9 url('../img/map-big.jpg') no-repeat;
  background-size: 100% 100%;
}


.modal--map iframe {
  display: block;

  border: 0;
  height: 593px;
  width: 100%;
}

.feedback-form p {
  margin: 0;
}

.modal__btn {
  position: absolute;
  right: 22px;
  top: 22px;

  height: 55px;
  width: 55px;

  background: url('../img/modal-close.svg');
  border: 0;
  font-size: 0;
  opacity: 0.6;
}


.modal__btn:hover,
.modal__btn:focus {
  opacity: 1;
}

.modal__btn:active {
  opacity: 0.3;
}

.hidden {
  display: none;
}
